/*****GLOBAL******/
@font-face{
    font-family: CASLTSB;
    src: url(../fonts/CASLTSB.TTF);
}
*{
    padding: 0 !important;
    margin: 0 !important;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow-y: hidden; 
}
.row{
    width: 100%;
}
/*****BACKGROUND & HEADINGS*****/
.background-container{
    height: 100vh;
    background-image: url(../images/forest.png);
}
.background-box{
    background-color: #611818;
    max-width: 0%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.background-text{
    position: absolute;
    top: 40%;
    left: 12%;
}
.background-text h1{
    color: #fff;
    font-size: 5rem;
    font-family: "CASLTSB";
}
.background-text h2{
    color: #fff;
    font-weight: 100;
}
/******PLUS BUTTON AND DETAILS******/
.more-details-section{
    display: flex;
}
.more-details-section img{
   margin-left: 10px !important;
}
.more-details-section h2{
    margin-left: 10px !important;
    font-size: 20px;
    margin-top: 8px !important;
}
.background-socials{
    display: block;
    position: absolute;
    top: 88%;
    left: 88%;
}
.background-socials img{
    display: block;
    width: 8%;
}
/*****MODAL*****/
.window{
    position: fixed;
    top: 8%;
    left: 50%;
    transform: translate(-100%, -10%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    background-color: #fff;
    width: 350px;
    max-width: 80%;
    height: 45%;
}
.window.active{
    transform: translate(-100%, -10%) scale(1);
}
.window-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.window-header .title{
    font-size: 3.25rem;
    font-weight: bold;
    color: #611818;
    font-family: "CASLTSB";
    padding-left: 50px !important;
    padding-top: 60px !important;
}
.window-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2.25rem;
    font-weight: 400;
    color: #611818;
    position: fixed;
    top: 0%;
    left: 93%;
}
.window-body{
    padding: 10px 15px;
}
.window-body p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100 !important;
    padding-top: 30px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
    line-height: 25px !important;
}
.window-body button{
    background: rgb(97,24,24);
    background: linear-gradient(90deg, rgba(97,24,24,1) 0%, rgba(127,60,51,1) 35%, rgba(158,97,79,1) 100%);
    color: #fff;
    width: 35%;
    padding: 8px 5px !important;
    border: solid 0 #fff !important;
    margin-top: 30px !important;
    margin-left: 50px !important;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.hr-line{
    padding-top: 1px !important;
    background: rgb(97,24,24);
    background: linear-gradient(90deg, rgba(97,24,24,1) 0%, rgba(127,60,51,1) 35%, rgba(158,97,79,0.37298669467787116) 100%);
    width: 38%;
    margin-top: 20px !important;
    margin-left: 50px !important;
}

/*****MEDIA QUERIES*****/ 
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 500px) {  
    .background-text h1 {
        font-size: 7rem;
    } /*1rem = 16px*/
    .background-socials img{
        display: block;
        width: 7%;
    }
    .background-socials{
        display: block;
        position: absolute;
        top: 85%;
        left: 90%;
    }
    .window{
        position: fixed;
        top: 15%;
        left: 90%;
        transform: translate(-100%, -10%) scale(0);
        transition: 200ms ease-in-out;
        z-index: 10;
        background-color: #fff;
        width: 500px;
        max-width: 80%;
        height: 80%;
    }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .background-text h1 {font-size:10rem;} /*1rem = 16px*/
    .background-box{ max-width:0%;} 
    .background-text{
        position: absolute;
        top: 40%;
        left: 11%;
    }
    .background-socials{
        display: block;
        position: absolute;
        top: 86%;
        left: 92%;
    }
    .background-socials img{
        display: block;
        width: 6%;
    }
    .window{
        position: fixed;
        top: 20%;
        left: 90%;
        transform: translate(-100%, -10%) scale(0);
        transition: 200ms ease-in-out;
        z-index: 10;
        background-color: #fff;
        width: 600px;
        max-width: 80%;
        height: 80%;
    }
    .window-header .title{
        font-size: 3.25rem;
        font-weight: bold;
        color: #611818;
        font-family: "CASLTSB";
        padding-left: 50px !important;
        padding-top: 60px !important;
    }
    .window-body p{
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100 !important;
        padding-top: 30px !important;
        padding-left: 50px !important;
        padding-right: 50px !important;
        line-height: 30px !important;
    }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 950px) { 
    .background-text h1 {font-size: 12rem;} /*1rem = 16px*/
    .background-box{ max-width: 22%;} 
    .background-socials img{
        display: block;
        width: 4%;
    }
    .background-socials{
        display: block;
        position: absolute;
        top: 85%;
        left: 95%;
    }
    .window{
        position: fixed;
        top: 20%;
        left: 70%;
        transform: translate(-100%, -10%) scale(0);
        transition: 200ms ease-in-out;
        z-index: 10;
        background-color: #fff;
        width: 600px;
        max-width: 80%;
        height: 65%;
    }
    .window-header .title{
        font-size: 3.25rem;
        font-weight: bold;
        color: #611818;
        font-family: "CASLTSB";
        padding-left: 50px !important;
        padding-top: 60px !important;
    }
    .window-body p{
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100 !important;
        padding-top: 30px !important;
        padding-left: 50px !important;
        padding-right: 50px !important;
        line-height: 30px !important;
    }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .background-text h1 {font-size: 13rem; color:#fff;} /*1rem = 16px*/  
    .background-text{
        position: absolute;
        top: 50%;
        left: 9%;
    }
    .background-box{ max-width: 22%;}  
    .background-socials img{
        display: block;
        width: 3%;
    }
    .background-socials{
        display: block;
        position: absolute;
        top: 85%;
        left: 96%;
    }
    .more-details-section img{
        margin-left: 4rem !important;
     }
    .window{
        position: fixed;
        top: 22%;
        left: 35%;
        transform: translate(-100%, -10%) scale(0);
        transition: 200ms ease-in-out;
        z-index: 10;
        background-color: #fff;
        width: 500px;
        max-width: 80%;
        height: 65%;
    }
    .window-header .title{
        font-size: 3.25rem;
        font-weight: bold;
        color: #611818;
        font-family: "CASLTSB";
        padding-left: 50px !important;
        padding-top: 60px !important;
    }
    .window-body p{
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100 !important;
        padding-top: 30px !important;
        padding-left: 50px !important;
        padding-right: 50px !important;
        line-height: 30px !important;
    }
    .fog{
        position: absolute !important;
        height: 100vh;
        width: 100%;
        top:0%;
    }
    .fog-container{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 1;
        left:22%;
    }
    .foggy{
        position: absolute;
        height: 100vh;
        width: 300vw;
        z-index: 2;
    }
    .foggy-first{
        background: url("../images/fog-1.png");
        background-repeat: repeat-x;
        background-size: contain;
        animation: marquee 60s linear infinite;
    }
    .foggy-second{
        background: url("../images/fog-2.png");
        background-repeat: repeat-x;
        background-size: contain;
        animation: marquee 30s linear infinite;
    }
    @keyframes marquee {
        0% {
          transform: translate3d(0, 0, 0);
        }
      
        100% {
          transform: translate3d(-200vw, 0, 0);
        }
}
 