*{
    padding: 0 !important;
    margin: 0 !important;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow-y: hidden; 
}
.row{
    width: 100%;
}
.background-container{
    height:100vh;
    background-image: url(../images/forest.png);
}
/*
.container-fluid{
    width: 100%;
    height:100vh;
    background-image: url(../images/forest.png);
}
*/
.background-box{
    background-color: #611818;
    max-width:0%;
    height:100%;
    padding: 0;
    margin: 0;
}
.background-text{
    position: absolute;
    top: 50%;
    left:11%;
}
.background-text h1{
    color:#fff;
    font-size: 5rem;
}
.background-text h2{
    color:#fff;
    font-weight: 100;
}
.more-details-section{
    display: flex;
}
.more-details-section img{
   margin-left: 2rem !important;
}
.more-details-section h2{
    margin-left: 1rem !important;
    font-size: 20px;
    margin-top: 8px !important;
}
.background-socials{
    display: block;
    position: absolute;
    top:85%;
    left: 88%;
}
.background-socials img{
    display: block;
    width: 10%;
}
/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
    .background-text h1 {
        font-size: 8rem;
    } /*1rem = 16px*/
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .background-text h1 {font-size:10rem;} /*1rem = 16px*/
    .background-box{ max-width:0%;} 
    .background-text{
        position: absolute;
        top: 40%;
        left:11%;
    }
    .background-socials img{
        display: block;
        width: 8%;
    }
    .background-socials{
        display: block;
        position: absolute;
     
    }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .background-text h1 {font-size:11rem;} /*1rem = 16px*/
    .background-box{ max-width:22%;} 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .background-text h1 {font-size:13rem;} /*1rem = 16px*/  
    .background-box{ max-width:22%;}  
    .background-socials img{
        display: block;
        width: 3%;
    }
    .background-socials{
        display: block;
        position: absolute;
        top:85%;
        left: 96%;
    }
}
 